<a href="https://colab.research.google.com/github/amithshibu/dm-logistic-regression/blob/main/Copy_of_DM_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DM_ASSIGNMENT_REGRESSION

Download any benchmark dataset like titanic dataset or any freely downloadable dataset in the net. Conduct few data preprocessing functions like missing value replacement, transformation etc. After data preprocessing, using any models do a classification. Use any tools python, R or excel for the same.

In [ ]:

import numpy as np # np is short for numpy
import pandas as pd # pandas is so commonly used, it's shortened to pd
import matplotlib.pyplot as plt


## Models
from sklearn.ensemble import RandomForestClassifier

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
car_sales = pd.read_csv("/content/drive/MyDrive/MachineLearning-main/car-sales-extended.csv") # 'DataFrame' shortened to 'df'
car_sales.head() # (rows, columns)

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [5]:
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [6]:
# Drop the row with no labels
car_sales.dropna(subset=["Price"],inplace=True)
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

# Creating X and y

In [7]:
#Creating X and y
X=car_sales.drop("Price",axis=1)
y=car_sales["Price"]

# Fill missing data with Scikit Learn

In [10]:
# Fill missing values with Scikit Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#Fill categorical values with 'missing' & numerical values with mean
cat_imputer=SimpleImputer(strategy="constant",fill_value="missing")
door_imputer=SimpleImputer(strategy="constant",fill_value=4)
num_imputer=SimpleImputer(strategy="mean")

#Define columns
cat_features = ["Make","Colour"]
door_features = ["Doors"]
num_features = ["Odometer (KM)"]


# Create an imputer (Something that fills missing data)

imputer = ColumnTransformer([
    ("cat_imputer",cat_imputer,cat_features),
    ("door_imputer",door_imputer,door_features),
    ("num_imputer",num_imputer,num_features)
])

# Transformed the Data
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4, 35431.0],
       ['BMW', 'Blue', 5, 192714.0],
       ['Honda', 'White', 4, 84714.0],
       ...,
       ['Nissan', 'Blue', 4, 66604.0],
       ['Honda', 'White', 4, 215883.0],
       ['Toyota', 'Blue', 4, 248360.0]], dtype=object)

In [9]:
car_sales_filled = pd.DataFrame(filled_X,columns=["Make","Colour","Doors","Odometer (KM)"])
car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White     4       35431.0
1     BMW   Blue     5      192714.0
2   Honda  White     4       84714.0
3  Toyota  White     4      154365.0
4  Nissan   Blue     3      181577.0

# Convert data to numbers

In [11]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorical_features)],
                               remainder="passthrough")
transformed_X=transformer.fit_transform(car_sales_filled);
transformed_X

array([[0.0, 1.0, 0.0, ..., 1.0, 0.0, 35431.0],
       [1.0, 0.0, 0.0, ..., 0.0, 1.0, 192714.0],
       [0.0, 1.0, 0.0, ..., 1.0, 0.0, 84714.0],
       ...,
       [0.0, 0.0, 1.0, ..., 1.0, 0.0, 66604.0],
       [0.0, 1.0, 0.0, ..., 1.0, 0.0, 215883.0],
       [0.0, 0.0, 0.0, ..., 1.0, 0.0, 248360.0]], dtype=object)

In [13]:
# Now we have  got our data  as numbers are filled(no missing values)
# let's fit a model
import numpy as np

np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(transformed_X,y,test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.3235867221569877

In [ ]:
y_preds = model.predict(X_test)

In [15]:
y_preds = model.predict(X_test)
car_sales_final = pd.DataFrame(y_preds,columns=["Make"])
car_sales_final

         Make
0    11980.62
1    11307.62
2    49109.74
3    23131.71
4    29249.80
..        ...
195  11540.49
196  11445.84
197  30223.27
198  24396.76
199   9573.85

[200 rows x 1 columns]

#AMITH SHIBU
# CS A
# Roll No: 11